{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto mt-8">
    <!-- Search Input -->
    <div class="flex justify-between mb-4">
        <input 
            type="text" 
            class="w-full sm:w-1/3 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500" 
            placeholder="Search..."
        />
        <button 
            id="addRentalLogBtn" 
            class="ml-4 p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
        >
        <i class="fas fa-plus text-white"></i>
             Rental-Log
        </button>
    </div>
    
    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Rental Logs</h2>
    
    <!-- Add Rental Log Form -->
    <div id="addRentalLogForm" class="hidden mb-8">
        <div class="p-4 bg-gray-100 rounded-lg shadow">
            <h3 class="text-xl font-semibold mb-4">Create Rental Log</h3>
            <div id="errorMessage" class="hidden text-red-600 mt-2"></div>
            <form id="addRentalLog" method="post" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {% csrf_token %}
                <div>
                    <label class="block text-sm font-medium text-gray-700">Member</label>
                    <select name="member" class="w-full p-3 border border-gray-300 rounded-md" required>
                        <option value="">Select Member</option>
                        {% for member in members %}
                        <option value="{{ member.id }}">{{ member.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Vehicle</label>
                    <select name="vehicle" class="w-full p-3 border border-gray-300 rounded-md" required>
                        <option value="">Select Vehicle</option>
                        {% for vehicle in vehicles %}
                        <option value="{{ vehicle.id }}">{{ vehicle.vehicle }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Start Date & Time</label>
                    <input type="datetime-local" name="start_datetime" class="w-full p-3 border border-gray-300 rounded-md" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">End Date & Time</label>
                    <input type="datetime-local" name="end_datetime" class="w-full p-3 border border-gray-300 rounded-md" required>
                </div>
                <div >
                    <label class="block text-sm font-medium text-gray-700">Remarks</label>
                    <textarea rows="1" name="remarks" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Remarks"></textarea>
                </div>
                <div >
                    <label class="block text-sm font-medium text-gray-700">Addons</label>
                    <select name="addon" class="w-full p-3 border border-gray-300 rounded-md" multiple >
                        {% for addon in addons %}
                        <option value="{{ addon.id }}">{{ addon.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="sm:col-span-2">
                    <button type="submit" class="w-full p-4 text-white bg-gray-600 rounded-lg border border-gray-300 rounded-md  hover:bg-gray-700">Create Rental Log</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Table -->
    <div id="rentalTable" class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100 border-b">
                    <th class="py-3 px-4 text-left border-r border-gray-200">Member Name</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Vehicle</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">license plate</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Start Date & Time</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">End Date & Time</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Rental Days</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Rental Price</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Deposit</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Addon Deposit</th>
                    <th class="py-3 px-4 text-left border-r border-gray-200">Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for log in rental_logs %}
                <tr class="hover:bg-gray-50 border-b border-gray-200">
                    <td class="py-3 px-4 border-r">{{ log.member.full_name }}</td>
                    <td class="py-3 px-4 border-r">{{ log.vehicle.vehicle }}</td>
                    <td class="py-3 px-4 border-r">{{ log.vehicle.license_plate }}</td>
                    <td class="py-3 px-4 border-r">{{ log.start_datetime }}</td>
                    <td class="py-3 px-4 border-r">{{ log.end_datetime }}</td>
                    <td class="py-3 px-4 border-r">{{ log.rental_days }}</td>
                    <td class="py-3 px-4 border-r">{{ log.rental_price }}</td>
                    <td class="py-3 px-4 border-r">{{ log.price_deposit }}</td>
                    <td class="py-3 px-4 border-r">{{ log.price_deposit_addon }}</td>
                    <td class="py-3 px-4 border-r">
                        {% if log.paid %}
                            <span class="text-green-500 font-semibold">Yes</span>
                        {% else %}
                            <span class="text-red-500 font-semibold">No</span>
                        {% endif %}
                    </td>
                    <td class="flex justify-between items-center gap-2 p-2">
                        <button class="edit-btn flex items-center gap-2 p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600" data-id="{{ log.id }}" onclick="showEditForm({{ member.id }})">
                            <i class="fas fa-edit text-red-500 mr-3"></i>
                        </button>

                        <!-- Trash button on the right -->
                        <button class="delete-btn flex items-center gap-2 p-2 bg-red-500 text-white rounded-lg hover:bg-red-600" data-id="{{ log.id }}">
                            <i class="fas fa-trash text-red-500"></i>
                        </button>
                        
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10" class="text-center py-4 text-gray-500">No rental logs found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for log in rental_logs %}
        {% if user.is_authenticated %}
            <div id="editRentalForm-{{ log.id }}" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-75 hidden">
                <div class="bg-white rounded-lg mx-auto mt-16 p-6 w-2/3">
                    <h3 class="text-xl font-semibold mb-4">Edit Rental-Log</h3>
                    <form id="editRentalFormData-{{ log.id }}" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        {% csrf_token %}
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Start Date & Time</label>
                            <input type="datetime-local" name="start_datetime" value="{{ log.start_datetime|date:"Y-m-d\TH:i" }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="start datetime" required>

                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">End Date & Time</label>
                            <input type="datetime-local" name="end_datetime" value="{{ log.end_datetime|date:"Y-m-d\TH:i" }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="end datetime" required>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Paid</label>
                            <select name="paid" value="{{log.paid}}" class="w-full p-3 border border-gray-300 rounded-md" required>
                                <option value="True" {% if log.paid == 'True' %}selected{% endif %}>True</option>
                                <option value="False" {% if log.paid == 'False' %}selected{% endif %}>False</option>
                            </select>
                        </div>                        
                        
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Remarks</label>
                            <input type="text" name="remarks" value="{{ log.remarks }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Remarks" required>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-medium text-gray-700">Addons</label>
                            <select name="addon" class="w-full border border-gray-300 rounded-md" multiple >
                                {% for addon in addons %}
                                <option value="{{ addon.id }}">{{ addon.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div >
                            <button type="button" onclick="submitEditForm({{ log.id }})" class="w-full p-4 text-white bg-gray-600 rounded-lg hover:bg-gray-700">Update Rental-log</button>
                        </div>
                        <div>
                            <button type="button" onclick="closeEditForm({{ log.id }})" class="w-full p-4 text-white bg-gray-600 rounded-lg hover:bg-gray-500">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    

    <!-- Pagination Controls -->
    <div class="flex justify-between items-center mt-4">
        {% if rental_logs.has_previous %}
            <a href="?page={{ rental_logs.previous_page_number }}" class="p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700">
                Previous
            </a>
        {% else %}
            <span class="p-2 bg-gray-300 text-gray-500 rounded-lg cursor-not-allowed">Previous</span>
        {% endif %}

        <span>Page {{ rental_logs.number }} of {{ rental_logs.paginator.num_pages }}</span>

        {% if rental_logs.has_next %}
            <a href="?page={{ rental_logs.next_page_number }}" class="p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700">
                Next
            </a>
        {% else %}
            <span class="p-2 bg-gray-300 text-gray-500 rounded-lg cursor-not-allowed">Next</span>
        {% endif %}
    </div>


</div>

<script>
    // Toggle the visibility of the Add Rental Log form
    document.getElementById('addRentalLogBtn').addEventListener('click', function () {
        const form = document.getElementById('addRentalLogForm');
        const table = document.getElementById('rentalTable');
        table.classList.toggle('hidden');
        form.classList.toggle('hidden');
    });

    async function submitRentalLogForm(event) {
        event.preventDefault(); // Prevent default form submission
        const form = event.target;
        const errorMessage = document.getElementById('errorMessage');
        errorMessage.style.display = 'none'; // Hide previous error message
        const addons = Array.from(form.addon.selectedOptions).map(option => option.value);

        const rentalLogData = {
            member: form.member.value,
            vehicle: form.vehicle.value,
            start_datetime: form.start_datetime.value,
            end_datetime: form.end_datetime.value,
            addons:addons,
            remarks: form.remarks.value || '',
        };

        // Make the POST request to create a new rental log
        try {
            const response = await fetch('/inventory/rental-log/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is included
                },
                body: JSON.stringify(rentalLogData)
            });

            if (!response.ok) {
                throw new Error('Failed to create rental log');
            }
            // Optionally, you can refresh the page or update the rental logs table here
            location.reload();
        } catch (error) {
            errorMessage.innerText = error.message; // Show error message
            errorMessage.style.display = 'block'; // Show error message
        }
    }

    document.getElementById('addRentalLog').addEventListener('submit', submitRentalLogForm);

    
    async function deleteRentalLog(rental_logId) {
    try {
        const response = await fetch(`/inventory/rental-log/?id=${rental_logId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
            }
        });

        if (response.ok) {
            // Successfully deleted the rental log
            location.reload(); // Refresh the list
        } else {
            const data = await response.json();
            alert(data.error || 'An error occurred while deleting the rental log.');
        }
    } catch (error) {
        console.error('Error:', error);
        alert('An unexpected error occurred. Please try again.');
    }
}

// Attach event listeners to delete buttons
document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function() {
        const rental_logId = this.getAttribute('data-id');
        if (confirm('Are you sure you want to delete this rental log?')) {
            deleteRentalLog(rental_logId);
        }
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if this cookie string begins with the name we want
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    function showEditForm(rental_logId) {
        document.getElementById(`editRentalForm-${rental_logId}`).classList.remove('hidden');
        document.getElementById('rentalTable').classList.add('hidden');
    }


    function closeEditForm(rental_logId) {
        document.getElementById(`editRentalForm-${rental_logId}`).classList.add('hidden');
        document.getElementById('rentalTable').classList.remove('hidden');
    }

    async function submitEditForm(rental_logId) {
        const form = document.getElementById(`editRentalFormData-${rental_logId}`);
        const formData = new FormData(form);
        try {
            const response = await fetch(`/inventory/rental-log/?id=${rental_logId}`, {
                method: 'PUT',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
            });

            if (response.ok) {
                alert("Rental-Log updated successfully");
                location.reload(); // Reload to reflect changes
            } else {
                const data = await response.json();
                alert(data.error || 'An error occurred while updating the rental-log.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An unexpected error occurred. Please try again.');
        }
    }

    // Attach event listeners to edit icons
    document.querySelectorAll('.edit-btn').forEach(button => {
        button.addEventListener('click', function() {
            const rental_logId = this.getAttribute('data-id');
            showEditForm(rental_logId);
        });
    });


</script>

{% endblock %}

 