{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto mt-8">
    <!-- Search Input -->
    <div class="flex justify-between mb-4">
        <input 
            type="text" 
            class="w-full sm:w-1/3 p-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500" 
            placeholder="Search..."
        />
        <button 
            id="addMemberBtn" 
            class="ml-4 p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
        ><i class="fas fa-plus text-white"></i>
             Member
        </button>
    </div>
    
    <h2 class="text-2xl font-semibold mb-4">Members List</h2>

    <!-- Add Member Form -->
    <div id="addMemberForm" class="hidden mb-8">
        <div class="p-4 bg-gray-100 rounded-lg shadow">
            <h3 class="text-xl font-semibold mb-4">Create Member</h3>
            <div id="errorMessage" class="hidden text-red-600 mt-2"></div>
            <form id="addmember" method="post" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                {% csrf_token %}
                <div>
                    <label class="block text-sm font-medium text-gray-700">Full Name</label>
                    <input type="text" name="full_name" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Full Name" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Phone</label>
                    <input type="text" name="phone" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Phone" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" name="email" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Email" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">NRIC</label>
                    <input type="text" name="nric" class="w-full p-3 border border-gray-300 rounded-md" placeholder="NRIC" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Date of Birth</label>
                    <input type="date" name="dob" class="w-full p-3 border border-gray-300 rounded-md">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Class Passed</label>
                    <select name="class_passed" class="w-full p-3 border border-gray-300 rounded-md" required>
                        <option value="">Select Class</option>
                        <option value="2">2</option>
                        <option value="2A">2A</option>
                        <option value="2B">2B</option>
                    </select>
                </div>
                
                <div>
                    <label class="block text-sm font-medium text-gray-700">Issue Date</label>
                    <input type="date" name="issue_date" class="w-full p-3 border border-gray-300 rounded-md" required>
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Remarks</label>
                    <textarea rows="1" name="remarks" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Remarks"></textarea>
                </div>
                <div class="sm:col-span-2">
                    <label class="block text-sm font-medium text-gray-700">Address</label>
                    <textarea rows="1" name="address" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Address"></textarea>
                </div>
                <div class="sm:col-span-2">
                    <button type="submit" class="w-full p-4 text-white bg-gray-600 rounded-lg hover:bg-gray-700">Create Member</button>
                </div>
            </form>
        </div>
    </div>

    <div id="memberTable" class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100 border-b">
                    <th class="py-2 px-4 border-r">Phone</th>
                    <th class="py-2 px-4 border-r">Email</th>
                    <th class="py-2 px-4 border-r">NRIC</th>
                    <th class="py-2 px-4 border-r">Full Name</th>
                    <th class="py-2 px-4 border-r">Date of Birth</th>
                    <th class="py-2 px-4 border-r">Class Passed</th>
                    <th class="py-2 px-4 border-r">Address</th>
                    <th class="py-2 px-4 border-r">Issue Date</th>
                    <th class="py-2 px-4">Remarks</th>
                </tr>
            </thead>
            <tbody id="memberTableBody">
                {% for member in Members %}
                <tr class="border-b">
                    <td class="py-2 px-4 border-r">{{ member.phone }}</td>
                    <td class="py-2 px-4 border-r">{{ member.email }}</td>
                    <td class="py-2 px-4 border-r">{{ member.nric }}</td>
                    <td class="py-2 px-4 border-r">{{ member.full_name }}</td>
                    <td class="py-2 px-4 border-r">{{ member.dob }}</td>
                    <td class="py-2 px-4 border-r">{{ member.class_passed }}</td>
                    <td class="py-2 px-4 border-r">{{ member.address }}</td>
                    <td class="py-2 px-4 border-r">{{ member.issue_date }}</td>
                    <td class="py-2 px-4 border-r">{{ member.remarks }}</td>
                    <td class="flex justify-between items-center gap-2 p-2">
                        <button class="edit-btn flex items-center gap-2 p-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600" data-id="{{ member.id }}" onclick="showEditForm({{ member.id }})">
                            <i class="fas fa-edit text-red-500 mr-3"></i>
                        </button>

                        <!-- Trash button on the right -->
                        <button class="delete-btn flex items-center gap-2 p-2 bg-red-500 text-white rounded-lg hover:bg-red-600" data-id="{{ member.id }}">
                            <i class="fas fa-trash text-red-500"></i>
                        </button>
                        
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center py-4">No members found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% for member in Members %}
        {% if user.is_authenticated %}
            <div id="editMemberForm-{{ member.id }}" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-75 hidden">
                <div class="bg-white rounded-lg mx-auto mt-16 p-6 w-2/3">
                    <h3 class="text-xl font-semibold mb-4">Edit Member</h3>
                    <form id="editMemberFormData-{{ member.id }}" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        {% csrf_token %}
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Full Name</label>
                            <input type="text" name="full_name" value="{{ member.full_name }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Full Name" required>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Phone</label>
                            <input type="text" name="phone" value="{{ member.phone }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Phone" required>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Email</label>
                            <input type="email" name="email" value="{{ member.email }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Email" required>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">NRIC</label>
                            <input type="text" name="nric" value="{{ member.nric }}" class="w-full p-3 border border-gray-300 rounded-md" placeholder="NRIC" required>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Date of Birth</label>
                            <input type="date" name="dob" value="{{ member.dob }}" class="w-full p-3 border border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Class Passed</label>
                            <select name="class_passed" class="w-full p-3 border border-gray-300 rounded-md" required>
                                <option value="2" {% if member.class_passed == '2' %}selected{% endif %}>2</option>
                                <option value="2A" {% if member.class_passed == '2A' %}selected{% endif %}>2A</option>
                                <option value="2B" {% if member.class_passed == '2B' %}selected{% endif %}>2B</option>
                            </select>
                        </div>
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Address</label>
                            <textarea rows="1" name="address" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Address">{{ member.address }}</textarea>
                        </div>
                        <div >
                            <label class="block text-sm font-medium text-gray-700">Remarks</label>
                            <textarea rows="1" name="remarks" class="w-full p-3 border border-gray-300 rounded-md" placeholder="Remarks">{{ member.remarks }}</textarea>
                        </div>
                        <div >
                            <button type="button" onclick="submitEditForm({{ member.id }})" class="w-full p-4 text-white bg-gray-600 rounded-lg hover:bg-gray-700">Update Member</button>
                        </div>
                        <div >
                            <button type="button" onclick="closeEditForm({{ member.id }})" class="w-full p-4 text-white bg-gray-600 rounded-lg hover:bg-gray-500">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    
        <!-- Pagination Controls -->
        <div class="flex justify-between items-center mt-4">
            {% if Members.has_previous %}
                <a href="?page={{ Members.previous_page_number }}" class="p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700">
                    Previous
                </a>
            {% else %}
                <span class="p-2 bg-gray-300 text-gray-500 rounded-lg cursor-not-allowed">Previous</span>
            {% endif %}
    
            <span>Page {{ Members.number }} of {{ Members.paginator.num_pages }}</span>
    
            {% if Members.has_next %}
                <a href="?page={{ Members.next_page_number }}" class="p-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700">
                    Next
                </a>
            {% else %}
                <span class="p-2 bg-gray-300 text-gray-500 rounded-lg cursor-not-allowed">Next</span>
            {% endif %}
        </div>
</div>
{% comment %} <script>
    async function submitMemberForm(event) {
        event.preventDefault(); // Prevent default form submission
        const form = document.getElementById('addmember');
        const errorMessage = document.getElementById('errorMessage');
        errorMessage.style.display = 'none'; // Hide error message initially

        // Gather form data
        const memberData = {
            full_name: form.full_name.value.trim(),
            phone: form.phone.value.trim(),
            email: form.email.value.trim(),
            nric: form.nric.value.trim(),
            dob: form.dob.value || null,
            class_passed: form.class_passed.value.trim(),
            issue_date: form.issue_date.value,
            remarks: form.remarks.value.trim(),
            address: form.address.value.trim(),
        };

        try {
            const response = await fetch('/member/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
                },
                body: JSON.stringify(memberData)
            });

            const data = await response.json(); // Get the response data

            if (response.ok) {
                // Successful member creation
                location.reload();

                // Optionally refresh the member list or redirect
                // await loadMemberList(); // If you want to refresh the member list
            } else {
                // Handle error response
                errorMessage.textContent = data.error || 'An error occurred. Please try again.';
                errorMessage.style.display = 'block';
            }
        } catch (error) {
            console.error('Error:', error);
            errorMessage.textContent = 'An unexpected error occurred. Please try again.';
            errorMessage.style.display = 'block';
        }
    }

    // Toggle form and table visibility
    document.getElementById('addMemberBtn').addEventListener('click', function() {
        const form = document.getElementById('addMemberForm');
        const table = document.getElementById('memberTable');
        form.classList.toggle('hidden');
        table.classList.toggle('hidden');
    });

    document.getElementById('addmember').addEventListener('submit', submitMemberForm);

    // Function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Check if this cookie string begins with the name we want
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script> {% endcomment %}
<script>
    async function submitMemberForm(event) {
        event.preventDefault(); // Prevent default form submission
        const form = document.getElementById('addmember');
        const errorMessage = document.getElementById('errorMessage');
        errorMessage.style.display = 'none'; // Hide error message initially

        // Gather form data
        const memberData = {
            full_name: form.full_name.value.trim(),
            phone: form.phone.value.trim(),
            email: form.email.value.trim(),
            nric: form.nric.value.trim(),
            dob: form.dob.value || null,
            class_passed: form.class_passed.value.trim(),
            issue_date: form.issue_date.value,
            remarks: form.remarks.value.trim(),
            address: form.address.value.trim(),
        };

        try {
            const response = await fetch('/member/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
                },
                body: JSON.stringify(memberData)
            });

            const data = await response.json(); // Get the response data

            if (response.ok) {
                // Successful member creation
                location.reload();
            } else {
                // Handle error response
                errorMessage.textContent = data.error || 'An error occurred. Please try again.';
                errorMessage.style.display = 'block';
            }
        } catch (error) {
            console.error('Error:', error);
            errorMessage.textContent = 'An unexpected error occurred. Please try again.';
            errorMessage.style.display = 'block';
        }
    }
    

    // Attach event listener to the form
    document.getElementById('addmember').addEventListener('submit', submitMemberForm);

    async function deleteMember(memberId) {
        try {
            const response = await fetch(`/member/?id=${memberId}`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Add CSRF token
                }
            });

            if (response.ok) {
                // Successfully deleted the member
                location.reload(); // Refresh the member list
            } else {
                const data = await response.json();
                alert(data.error || 'An error occurred while deleting the member.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An unexpected error occurred. Please try again.');
        }
    }

    // Attach event listeners to delete buttons
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function() {
            const memberId = this.getAttribute('data-id');
            if (confirm('Are you sure you want to delete this member?')) {
                deleteMember(memberId);
            }
        });
    });


    document.getElementById('addMemberBtn').addEventListener('click', function() {
            const form = document.getElementById('addMemberForm');
            const table = document.getElementById('memberTable');
            form.classList.toggle('hidden');
            table.classList.toggle('hidden');
        });

    // Function to get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function showEditForm(memberId) {
    document.getElementById(`editMemberForm-${memberId}`).classList.remove('hidden');
    document.getElementById('memberTable').classList.add('hidden');
}


        function closeEditForm(memberId) {
            document.getElementById(`editMemberForm-${memberId}`).classList.add('hidden');
            document.getElementById('memberTable').classList.remove('hidden');
        }

        async function submitEditForm(memberId) {
            const form = document.getElementById(`editMemberFormData-${memberId}`);
            const formData = new FormData(form);
            
            try {
                const response = await fetch(`/member/?id=${memberId}`, {
                    method: 'PUT',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    // body: JSON.stringify(formData)
                });

                if (response.ok) {
                    alert("Member updated successfully");
                    location.reload(); // Reload to reflect changes
                } else {
                    const data = await response.json();
                    alert(data.error || 'An error occurred while updating the member.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An unexpected error occurred. Please try again.');
            }
        }

        // Attach event listeners to edit icons
        document.querySelectorAll('.edit-btn').forEach(button => {
            button.addEventListener('click', function() {
                const memberId = this.getAttribute('data-id');
                showEditForm(memberId);
            });
        });
</script>

{% endblock %}
