<div class="w-64 bg-gray-800 text-white h-full flex flex-col justify-between">
    <div>
        <div class="p-6 text-2xl font-semibold">
            {% comment %} <img src="" alt="Logo" class="h-8 w-auto mb-4"> {% endcomment %}
            <span>Logo</span>
        </div>
        <nav class="space-y-2">
            <a href="/inventory/bike/" class="flex items-center px-6 py-3 hover:bg-gray-700">
                <i class="fas fa-home text-white mr-3"></i>
                Inventory
            </a>
            <a href="/inventory/rental-log/" class="flex items-center px-6 py-3 hover:bg-gray-700">
                <i class="fas fa-star text-yellow-500 mr-3"></i>
                Rental Log 
            </a>
            <a href="/member/" class="flex items-center px-6 py-3 hover:bg-gray-700">
                <i class="fas fa-users text-white mr-3"></i>
                Members
            </a>
        </nav>
    </div>
    <div class="p-6 space-y-2">
        <a href="" class="flex items-center px-6 py-2 hover:bg-gray-700">
            <i class="fas fa-question-circle text-white mr-3"></i>
            Support
        </a>
        <a href="" class="flex items-center px-6 py-2 hover:bg-gray-700">
            <i class="fas fa-cog text-white mr-3"></i>
            Settings
        </a>
    </div>
</div>


